repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format src tests
        language: system
        types: [python]
        require_serial: true
        pass_filenames: false

      - id: ruff-lint
        name: ruff-lint
        entry: uv run ruff check --fix src tests
        language: system
        types: [python]
        pass_filenames: false
